:root {
  --color-1: #CF5C36;
  --color-2: #F5DEBA;
  --color-3: #FFB800;
  --color-4: #5dc0b3;
  --color-5: #333339;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-title {
  font-family: "Merriweather", "Arial Black", "Impact", sans-serif;
}

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

* {
  color: var(--color-5);
}

.c-2 {
  color: var(--color-2);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-4 {
  background-color: var(--color-4);
}

.bg-5 {
  background-color: var(--color-5);
}

body {
  background-color: var(--color-2);
}

/* Homepage */
.bg-header {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('/storage/background/header1.jpeg'); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1080/720"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-2);
}

.btn-cus {
  transition: all 0.3s ease;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

#caret {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
}

#caret-icon {
  scale: 2;
  animation: bounce 2s infinite;
  animation-fill-mode: both;
}

/* Fine Homepage */

swiper-container {
  width: 100%;
  /* height: 100%; */
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* swiper-slide {
  width: 80%;
}

swiper-slide:nth-child(2n) {
  width: 60%;
}

swiper-slide:nth-child(3n) {
  width: 40%;
} */

#addArticle {
  top: 13vh;
  left: 80vw;
  width: 14vw;
}

footer a {
  color: var(--color-2) !important;
}







/* animazione rimbalzo caret homepage */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

}


/* animazione macchina da scrivere */
.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 4s steps(50, end),
    blink-caret .75s step-end infinite;
}

.delay {
  animation-delay: 3s;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--color-5);
  }
}






/* media query solo per sm smartphone */
@media (max-width: 767px) {}

/* media query solo per md tablet */
@media (min-width: 768px) and (max-width: 991px) {}

/* media query solo per lg desktop */
@media (min-width: 992px) {

  /* hover */
  .btn-cus:hover {
    background-color: var(--color-1);
    color: var(--color-5);
    border: 1px solid var(--color-2);
    scale: 1.02;
    /* transform: translate(3px, 3px); */
    box-shadow: 3px 5px 3px var(--color-5);
  }
}

/* media query in: md tablet e sm smartphone*/
@media (max-width: 991px) {}

/* media query in: lg desktop e md tablet*/
@media (min-width: 768px) {}