/* :root {} */

/* h1, h2, h3, h4, h5, h6,
.font-title {
    font-family: "", "Arial Black", "Impact", sans-serif;
}

* {
    font-family: "", Arial, Helvetica, sans-serif;
} */

body {
  background-color: #e3f2f8;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide {
  width: 80%;
}

swiper-slide:nth-child(2n) {
  width: 60%;
}

swiper-slide:nth-child(3n) {
  width: 40%;
}

#addArticle {
  top: 13vh;
  left: 80vw;
  width: 14vw;
}





/* media query solo per sm smartphone */
@media (max-width: 767px) {}

/* media query solo per md tablet */
@media (min-width: 768px) and (max-width: 991px) {}

/* media query solo per lg desktop */
@media (min-width: 992px) {}

/* media query in: md tablet e sm smartphone*/
@media (max-width: 991px) {}

/* media query in: lg desktop e md tablet*/
@media (min-width: 768px) {}